@import '../../common/color.scss';
.comment {
  align-self: flex-start;
  width: 100%;
  margin-bottom: 2rem;

  &-content {
    margin-left: 4rem;
  }
  &-action {
    display: flex;
    float: left;
    margin-left: 4rem;
    margin-top: 1rem;

    .like {
      margin-right: 1rem;
    }
    .reply {
      display: flex;
      cursor: pointer;
      svg {
        fill: $gray;
        stroke: none;
      }
    }
  }
}
