<section id="navbar">
  <nav class="navbar">
    <div class="grid">
      <div class="navbar__wrapper">
        <a href="{{ url_for('common:home') }}" class="navbar__logo">
          <img src="{{ static('img/logo.svg') }}" alt="" class="navbar__logo-img" width="32" height="32">
        </a>
        <button class="navbar__dropdown-btn">• • •</button>
        <ul class="navbar__link-list">
          {% if request.user.is_authenticated %}
            <li>
              <a class="navbar__link {% if current == 'home' %}current{% endif %}" href="{{ url_for('home') }}">{{ _('主页') }}</a>
            </li>
            <li>
              <a class="navbar__link" href="https://neodb.social/" target="_blank">{{ _('书影音') }}</a>
            </li>
            <li>
              <a class="navbar__link" href="{{ url_for('group:create') }}">{{ _('创建小组') }}</a>
            </li>
            <li>
              <a class="navbar__link" id="logoutLink" href="{{ url_for('users:logout') }}">{{ _('登出') }}</a>
            </li>
            {% if request.user.is_superuser %}
            <li>
              <a class="navbar__link" href="{{ admin_url() }}">{{ _('后台') }}</a>
            </li>
            {% endif %}
          {% else %}
            <li>
              <a class="navbar__link" href="{{ url_for('users:login')}}?next={{request.path}}">{{ _('登录') }}</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</section>