@import '../../common/color.scss';

.author {
  display: flex;
  width: 100%;

  .left-side {
    flex: 1 0 auto;
    width: 2rem;
    height: 2rem;
    .topic-author .avatar {
      width: 3rem;
      border-radius: 2rem;
    }
  }
  .right-side {
    width: calc(100% - 4rem);
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: $gray2;

    .topic {
      &-user {
        max-width: 80%;

        &-username {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          a {
            text-decoration: none;
            color: inherit;
            &:active, &:hover {
              color: $purple2;
            }
          }

          .display-name {
            color: $black;
            font-weight: 500;
            font-size: 1.5rem;
            margin-right: 0.3rem;
          }
        }
        .note {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}
